<div class="main">
    <div class="content-area">
        <h1>Restricted Area</h1>
        <h3>Please solve the puzzle to get admin access</h3>
        <div class="mypic">
            <img src="assets/images/admin/1.jpg" />
        </div>
        <div class="right-box">
            <label>Name: </label> <span> Udth Gayan Indrakantha</span>
            <br />
            <label>Your Name: </label> <span> Input box gores here</span>
            <br />
            <label>Solution: </label> <input type="text" class="solution" />
        </div>
    </div>
</div>
