<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Blogs</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="" href="https://dev.to/udithgayan" role="tablist" target="_blank">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">

            <div class="row">

              <!-- Under Construction page -->
              <!-- <div class="blog-entry animate-box" data-animate-effect="fadeInLeft" style="width:100%;">
               <div class="card">
                 <img src="assets/Skills-cards/underconstruction.png" alt="Under Construction" style="width: 15rem; margin-left: 38%; margin-top: 5%; margin-bottom: 5%; ">


                </div>
              </div> -->

             <!-- Under construction ends -->







                        <!-- <div class="card"  *ngFor = "let blog of blogs | slice:0:limit" style="width: 16rem;"> -->
                          <div class="cc-porfolio-image img-raised card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="width: 16rem;"  *ngFor = "let blog of blogs | slice:0:limit">
                              <a href="{{blog.postURL}}" target="_blank">
                                <figure class="cc-effect">
                          <img src={{blog.imgURL}} class="card-img-top img" alt="Image" style="height: 145px!important;">
                          <figcaption>
                            </figcaption>
                               </figure>
                          <div class="card-body" style="padding-top: 0.04rem;">
                            <h5 class="card-title"><b>{{blog.title}}</b></h5>
                            <p class="card-text">{{blog.description}}</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          </div>
                          </a>
                          </div>
                        <!-- </div> -->


















            </div>
          </div>
        </div>

      </div>

      <div>
        <button  (click)="isClicked ? showLess() : showMore();" *ngIf="!isClicked && blogLength > 8" class="bb" >View More >></button>
        <button  (click)="isClicked ? showLess() : showMore();" *ngIf="isClicked && blogLength > 8" class="bb" ><< View Less </button>
      </div>

    </div>   <!-- Container class-->



  </div>
