/* unvisited link */

a {
  text-decoration: none;
}

a:link {

}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {
  color: rgba(8, 26, 140, 0.932);
  cursor:pointer;
  font-weight:800;
}

.img {
  position: relative!important;
  float: left!important;
  width:  500px!important;
  height: 137px!important;
  background-position: 50% 50%!important;
  background-repeat:   no-repeat!important;
  background-size:     cover!important;
}

.app-wrapper {
	max-width: 100%;
	margin: auto;
	border: 1px solid white;
	height: 100%;
	background: white;
  padding: 25px;
}

.bb {
  width:100%;
  border: none;
  background-color: rgba(11, 17, 42, 0.055);
  color: rgb(26, 10, 79);
  font-size: large;
  font-weight: bold;
  font-style: inherit;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;

}

.bb:hover {
  background-color: rgba(11, 17, 42, 0.809);
  color: white;
}


.row {

  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}
