<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        <div class="row">


           <!-- Under Construction page -->
           <!-- <div class="blog-entry animate-box" data-animate-effect="fadeInLeft">
              <div class="card">
               <img src="assets/Skills-cards/underconstruction.png" alt="Under Construction" style="width: 15rem; margin-left: 38%; margin-top: 5%; margin-bottom: 5%; ">


              </div>
            </div> -->

           <!-- Under construction ends -->




         <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" style="white-space: nowrap;" >
           <div class="blog-entry" style="display: flex; width: auto;">

             <!-- Project 1 -->

             <div class="card" style="   display: inline-block;  flex: 1;" >
               <img class="card-img-top" src="assets\images\projects\1.PNG" alt="Card image" style="width:100%; height:230px;;" >
               <!-- <img class="card-img-top" src="assets\images\projects\4.PNG" alt="Card image" style="width:45%" >
               <img class="card-img-top" src="assets\images\projects\7.PNG" alt="Card image" style="width:50%; height:70%" >
               <img class="card-img-top" src="assets\images\projects\8.PNG" alt="Card image" style="width:50%" > -->
               <div class="card-body" style=" width: auto">
                 <h4 class="card-title" style=" width: auto; white-space: normal;">'Invento' - Fixed Asset Management System</h4>
                 <h5 class="card-text" style=" width: auto;  white-space: normal;"><b>Technology :</b><br />Angular 8, Springboot, MySQL, Firebase </h5>
                 <h5 class="card-text" style=" width: auto;  white-space: normal;"><b>Monitored by :</b><br />Codegen International , Sri Lanka</h5>
                 <!-- <h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5> -->

                 <a href="https://www.linkedin.com/posts/udith-indrakantha_invento-the-fixed-asset-management-system-activity-6614931092896088064-6_SW" class="btn btn-primary stretched-link ml-2 mr-5" target="_blank">Details</a>
                 <a href="https://github.com/Udith-Gayan/Patronus-Inventory-Management-System" class="btn btn-primary stretched-link" target="_blank" style="margin-right: 2vw;"> <img src="assets/images/github-brands.svg"  height="22px" width="22px" style=" filter: invert(1);" >&nbsp;&nbsp; Github</a>

                </div>
              </div>
     <!-- Project 2 -->
              <div class="card" style="  display: inline-block; margin-left: 2vw;  flex: 1; ">
                <img class="card-img-top" src="assets\images\projects\project_two.PNG" alt="Card image" style="width:100%; height:230px;" >
                <!-- <img class="card-img-top" src="assets\images\projects\4.PNG" alt="Card image" style="width:45%" >
                <img class="card-img-top" src="assets\images\projects\7.PNG" alt="Card image" style="width:50%; height:70%" >
                <img class="card-img-top" src="assets\images\projects\8.PNG" alt="Card image" style="width:50%" > -->
                <div class="card-body">
                  <h4 class="card-title" style="overflow-wrap:auto; white-space: normal;">'AVS' - Automated Voting System</h4>
                  <h5 class="card-text" style=" width: auto ; white-space: normal;"><b>Technology :</b><br />HTML, CSS, AJAX, Ionic 3, Spring, MySQL </h5>
                  <h5 class="card-text" style=" width: auto; text-overflow: ellipsis; white-space: normal;"><b>Description :</b><br />This is a smart alternative for the current Election process. This consists of a Web app and a Mobile App</h5>
                  <!-- <h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5> -->

                  <a href="https://www.linkedin.com/in/udith-indrakantha/" class="btn btn-primary stretched-link ml-2 mr-5" target="_blank">Details</a>
                  <a href="https://github.com/IM-Group-23" class="btn btn-primary stretched-link" target="_blank"> <img src="assets/images/github-brands.svg"  height="22px" width="22px" style=" filter: invert(1);" >&nbsp;&nbsp; Github</a>

                 </div>
               </div>
<!--  -->

            </div>

          </div>

          <!-- <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
             <div class="blog-entry">
              <div class="card" >
                <img class="card-img-top"src="assets/images/p2.png" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Personal Portfolio Using Django</h4>
                  <h5 class="card-text"><b>Technology :</b> Django,Python,Bootstrap3 </h5>

                  <h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5>

                  <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
                  <a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
                </div>
              </div>
            </div>
          </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Matrimonial Website(Live Project)</h4>
          <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,PHP </h5>
            <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5>
        <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Matrimonial-Website" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Movie Success Prediction(Hackathon)</h4>
           <h5 class="card-text"><b>Technology :</b> Django,Python,ML,DataScience </h5>
           <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"> Read Blog on this  Project</a></h5>
        <a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>


    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Smart Baby Stroller(Final Year)</h4>
           <h5 class="card-text"><b>Technology :</b> Python,Android,Firebase </h5>
             <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"> Read Blog on this  Project</a></h5>
          <a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Smart-Baby-Stroller-System.git" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Simple Chat Application Using Firebase</h4>
           <h5 class="card-text"><b>Technology :</b> Android,Java,Firebase </h5>
             <h5 class="card-text"><a href="https://code.tutsplus.com/tutorials/how-to-create-an-android-chat-app-using-firebase--cms-27397"> Read Blog on this  Project</a></h5>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
        </div>


     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p8.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Know Your Disease</h4>
          <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,PHP </h5>
         <a href="https://github.com/mehulk05/Know-Your-Disease" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Know-Your-Disease" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p9.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Pizza Ordering System</h4>
           <h5 class="card-text"><b>Technology :</b> Java,Servlet,JSP,JDBC </h5>
       <a href="https://github.com/mehulk05/Pizza-Ordering-System" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Pizza-Ordering-System" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div> -->




    </div>  <!-- div class=row end-->
    </div>
  </div>
