<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Science (Hons.) in Information Technology</div>
               <h4 class="category">University of Moratuwa
               </h4>
               <ul>
                <li> University of Moratuwa is one of the excellent State universities in Sri Lanka. </li>
                    <li>Reading for BSc.(Hons) in Information Technology with <b>3.2 CGPA</b>.</li>

             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2016</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">G.C.E. Advanced Level (Mathematics Stream)</div>
               <h4 class="category">Kg/Pinnawala Central College - Rambukkana
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of physics, combined mathematics, and Chemistry
                                  </li>
                                  <li>
                                     Advanced Level Examination Results:
                                    <ul>
                                      <div>
                                        <table border="0px">
                                         <tr>
                                           <td>Combined Maths (Pure+Applied)</td>
                                           <td>&nbsp;&nbsp;&nbsp;- B</td>
                                         </tr>
                                         <tr>
                                            <td>Physical Science </td>
                                            <td>&nbsp;&nbsp;&nbsp;- B</td>
                                          </tr>
                                          <tr>
                                              <td>Chemistry</td>
                                              <td>&nbsp;&nbsp;&nbsp;- B</td>
                                            </tr>
                                            <tr>
                                                <td>General English</td>
                                                <td>&nbsp;&nbsp;&nbsp;- A</td>
                                              </tr>
                                              <tr>
                                                  <td>General Information Technology</td>
                                                  <td>&nbsp;&nbsp;&nbsp;- A</td>
                                                </tr>
                                        </table>
                                      </div>
                                    </ul>
                                  </li>
                                  <li>
                                      Scored<b> 57<sup>th</sup></b> in District ranking.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2013</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Gyandeeep Vidhyalaya
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>

                <li>
                    Completed my Secondary school with <b>84%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
